.mainPagination {
    margin: 50px auto;
}

.active a ,.page-link{
    background: #f68b1e ; ;
    color: #ffffff ;
    outline: none ;
    border: none;
    font-weight: 500;
    border-radius: 3px;
}







#pagination-btn:focus   {
    box-shadow: none;
    background: #f68b1e ;
}

.disabled {
    background: #f68b1e ;  ;
}

.mainPagination #pagination-btn {
 background: #f68b1e ;
    color: white
}

.mainPagination #pagination-btn:hover {
    background: #e07e1b;
    color: white
}

.mainPagination #pagination-btn:focus {
    background-color: #f68b1e ;
    color: white;
    outline:0;
}

#pagination-btn:hover {
}