.footer ul {
    list-style: none;
}

.socialFooter ul li {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid gray;
    padding-top: 2px;
    font-size: 20px;
    margin-right: 20px;
}
.socialFooter ul li:hover {
    background: #f68b1e !important;
    color: white;
    cursor: pointer;

}